<%- include ('partial/header.ejs') %>

    <div class="about">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam voluptas officiis in omnis, aperiam
            recusandae perspiciatis deserunt, ut harum nostrum consequuntur facere cupiditate culpa esse eveniet
            temporibus repellat tenetur! Deserunt iste a aut perspiciatis aliquam sit repudiandae, tempora officia id
            magnam dignissimos iusto voluptatem corporis ipsum impedit est, voluptate sapiente.
        </p>
    </div>

    <%- include ('partial/footer.ejs') %>